<!DOCTYPE html>
<html>
    <head>
        <title>ARA</title>

    </head>
    <body >
        <fieldset style="background-color: beige ;text-align: center; border: 20px; border-color: black; height: 200px; width: 400px;margin: 100px;">
           <legend>ARA</legend>
           <h2 style="text-align:center;color: lightpink;">Welcome to ARA!</h2>
           <br>
           <a href="open_signup" style="text-align: center; border: 2px; border-color: brown; margin: 20px;">signup</a>
           <br>
           <a href="open_signin" style="text-align: center; border: 2px; border-color: brown; margin: 20px;">signin</a>
        </fieldset>
    </body>
</html>