<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>signup</title>
</head>
<body>
	<form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Please enter your name.">
        <br>
        <label for="e-mail">E-mail:</label>
        <input type="email" name="email" id="email" placeholder="Please enter your email.">
        <br>
        <label for="mobile">Phone-number:</label>
        <input type="number" name="mobile" id="mobile" placeholder="enter your mobile no.">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Please enter your password.">
        <br>
        <label for="address">Address:</label>
        <input type="text" name="address" id="address" placeholder="Please enter your address.">
        <button type="submit">signup</button>
    </form>
</body>
</html>