<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>signin</title>
</head>
<body>
	|<form method="post" action="{% url 'signin' %}">
        {% csrf_token %}
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Please enter registered email!">
        <br>
        <label for="password">Password:</label>
        <input type= "password" name="password" placeholder="Please enter password.">
        <button type="submit">Signin</button>
    </form>
</body>
</html>